
*{
    margin: 0;
    padding: 0;

    /*home page*/
}
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1)), url(mainpage.png);
    background: position-center;
    background-size: cover;
    height: 100vh;
    position: relative;

}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: transparent; 
}

.logo {
    color: #964B00;
    font-size: 40px;
    font-weight: Arial;
    flex: 1;
    text-align: left;
}

.menu {
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    gap: 40px;
    margin: 0;
}

.menu ul li a { /*services menu*/
    text-decoration: none;
    color: #416b7a;
    font-weight: Arial;
    font-size: 20px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #964B00;
}

.search {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.srch { /*Type to text here search bar*/
    width: 100px;
    height: 38px;
    background: transparent;
    border: 1px solid #964B00;
    color: #fff;
    font-size: 10px;
    padding: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.btn { /*search bar*/
    width: 80px;
    height: 38px;
    background: #416b7a;
    border: 2px solid #416b7a;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.btn:hover {
    background: #964B00;
    border-color: #964B00;
}

.srch:focus,
.btn:focus {
    outline: none;
}

.content{
    width: 900px;
    color: #964B00;
    position: absolute;
    top: 100px;
    right: 80px;
    text-align: right;
}

.content .par{
    padding-right: 20px;
    padding-bottom: 25p;
    font-family: Arial;
    letter-spacing: 0.2px;
    line-height: 20px;
}

.content h1{ /* Circulus Casa Prototype*/
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-right: 200px;
    margin-bottom: 33%;
    letter-spacing: 1px;
}

.content .cn{ /*Join us button*/
    width: 160px;
    height: 40px;
    background: #416b7a;
    border: none;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{ /*Join us button letter bolor*/
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #964B00;
} 

.form{ /*login information*/
    width: 250;
    height: 230px;
    background: linear-gradient(to top, rgba(0,0,0,0.1));
    position: absolute;
    top: 70px;
    right: 120px;
    border-radius: 10px;
    padding: 25px;
    z-index: 50;
}

.form h2{ 
    width: 200px;
    font-family: Arial;
    text-align: center;
    color: #964B00;
    font-size: 15px;
    background-color: #fff; 
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form .link a{
    text-decoration: none;
    color: #416b7a;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
/*services page*/
.services {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1)), url(servicespage.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: transparent; 
}

.logo {
    color: #964B00;
    font-size: 40px;
    font-weight: Arial;
    flex: 1;
    text-align: left;
}

.menu {
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    gap: 40px;
    margin: 0;
}

.menu ul li a { /*services menu*/
    text-decoration: none;
    color: #416b7a;
    font-weight: Arial;
    font-size: 20px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #964B00;


  
}  /*circles page*/
.circles {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1)), url(circlespage.png);
    background: position-center;
    background-size: 100%;
    height: 100vh;
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: transparent; 
}

.logo {
    color: #964B00;
    font-size: 40px;
    font-weight: Arial;
    flex: 1;
    text-align: left;
}

.menu {
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    gap: 40px;
    margin: 0;
}

.menu ul li a { /*services menu*/
    text-decoration: none;
    color: #416b7a;
    font-weight: Arial;
    font-size: 20px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #964B00;
    

}  /*mycircles page*/
.mycircles {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1)), url(mycirclespage.png);
    background-position: center 100%;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: transparent; 
}

.logo {
    color: #964B00;
    font-size: 40px;
    font-weight: Arial;
    flex: 1;
    text-align: left;
}

.menu {
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    gap: 40px;
    margin: 0;
}

.menu ul li a { /*services menu*/
    text-decoration: none;
    color: #416b7a;
    font-weight: Arial;
    font-size: 20px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #964B00;
    

}  /*profile page*/
.profile {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1)), url(profilepage.png);
    background: position-center;
    background-size: 100%;
    height: 100vh;
    position: relative;
}

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: transparent; 
}

.logo {
    color: #964B00;
    font-size: 40px;
    font-weight: Arial;
    flex: 1;
    text-align: left;
}

.menu {
    flex: 2;
    text-align: center;
}

.menu ul {
    display: inline-flex;
    list-style: none;
    gap: 40px;
    margin: 0;
}

.menu ul li a { /*services menu*/
    text-decoration: none;
    color: #416b7a;
    font-weight: Arial;
    font-size: 20px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #964B00;
    

}